.sectionFeedback {
  padding: 50px 15px;
  margin: auto;
  width: 100%;
  max-width: 400px;
  border-radius: 18px;
  border: 2px solid rgb(47, 95, 228);
  background-color: rgb(221, 225, 119);
  box-shadow: 2px 5px 11px 3px gray;
}
